{% extends 'base.html' %}

{% block title %}Your Reservations{% endblock %}

{% block page_heading %}Reservation List{% endblock %}

{% block content %}
<div class="reservation-list">
    <table>
        <thead>
            <tr>
                <th>Reservation ID</th>
                <th>Venue</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Participants</th>
                <th>Assigned Agent</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in object_list %}
            <tr>
                <td>
                    <a href="{% url 'reservation:detail' pk=reservation.reservation_id %}">
                        {{ reservation.reservation_id }}
                    </a>
                </td>                <td>{{ reservation.venue }}</td>
                <td>{{ reservation.date_start }}</td>
                <td>{{ reservation.date_end }}</td>
                <td>{{ reservation.number_of_participants }}</td>
                <td>
                    <a href="{% url 'reservation:agent_reservations' pk=reservation.agent.agent_id %}">
                        {{ reservation.agent.agent_first_name }} {{ reservation.agent.agent_last_name }}
                    </a>
                </td>                
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">You have no reservations.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<a href="{% url 'reservation:create' %}" class="btn btn-success"><button>Create New Reservation</button></a>

{% endblock %}