{% extends 'base.html' %}

{% block title %}
    Reservation Details
{% endblock %}

{% block page_heading %}
    Reservation Details for {{ object.reservation_id }}
{% endblock %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="alert alert-success">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <h3>Reservation ID: {{ object.reservation_id }}</h3>
    <p><strong>Customer:</strong> {{ object.customer }}</p>
    <p><strong>Venue:</strong> {{ object.venue }}</p>
    <p><strong>Number of Participants:</strong> {{ object.number_of_participants }}</p>
    <p><strong>Start Date:</strong> {{ object.date_start }}</p>
    <p><strong>End Date:</strong> {{ object.date_end }}</p>
    <p><strong>Type:</strong> {{ object.venue.venue_type }}</p>
    <p><strong>Location:</strong> {{ object.venue.venuebuilding.building }}, {{ object.venue.venuebuilding.building.street }}, {{ object.venue.venuebuilding.building.city }} </p>
    <p><strong>Agent:</strong> {{ object.venue.venuebuilding.building.get_assigned_agent.agent_first_name }} {{ object.venue.venuebuilding.building.get_assigned_agent.agent_last_name }}</p>

<a href="{% url 'reservation:list' %}" class="btn btn-primary"><button>View My Reservations</button></a>

<!-- Button to create a new reservation -->
<a href="{% url 'reservation:create' %}" class="btn btn-success"><button>Create New Reservation</button></a>

{% endblock %}