{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block page_heading %}
    Welcome to State Spaces!
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <a href="{% url 'reservation:create' %}">
        <button type="button">Make a Reservation</button>
    </a>
</form>

<br>

<form method="POST">
    <a href="{% url 'reservation:list' %}">
        <button type="button">View My Reservations</button>
    </a>
</form>

{% endblock %}